/* Poppins fonts add all body */
body{
    font-family: 'Poppins';
}

header{
    max-width: 1370px;
    margin: 0 auto;
}
/* Header Part styles */


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 120px;
    
}
nav ul{
    display: flex;
    align-items: center;
    gap: 34px;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: rgba(58, 58, 58, 1);

}
.nav-title{
    font-weight: 800;
    font-size: 1.4rem;
    width: 243px;
    text-align: center;
}

/* Header back-ground image add */

.header{
    background-image: url('/images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: relative;
    background-position-x: 720px;
    background-position-y: 110px;
}

/* Header part banner section styles */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 165px 100px 120px;
}
.banner-content{
    max-width: 595px;
}
.banner-title{
    font-weight: 900;
    font-size: 3.2rem;
    width: 595px;
    margin-bottom: 0px;
}

.banner-description{
    font-weight: 700;
    font-size: 1rem;
    width: 500px;
    color: rgba(58, 58, 58, 1);
}

.preebook{
    background-color: rgba(224, 44, 109, 1);
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 56px 10px 24px;
    color: white;
    border-radius: 50px;
    border: none;
}
.banner-pic{
    max-width: 440px;
}


/* sponsors part styles */
.sponsor{
    max-width: 1110px;
    margin: 0 auto;
}
.sponsor-items {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;

}

.img{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 30px 20px;
    gap: 40px;
    max-width: 990px;
    margin: 0 auto;   
}
/* Main section margin fixed */


.main{
    max-width: 1170px;
    margin: 0 auto;
}
section{
    margin: 100px auto;
}

/* Popular Collection section styles */
.popular{
    max-width: 1050px;
    margin: 100px auto;
}
.popular-title{
    font-weight: 600;
    font-size: 1.8rem;
    color: rgba(58, 58, 58, 1);
    text-align: center;
}

.card{
    max-width: 330px;
    padding: 10px 10px 10px 10px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.205);

}

.card:hover{
    background-color: aqua;
}

.popular-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card-title{
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: 16px;
    margin-bottom: 6px;
}
.card-price{
    font-weight: 400;
    font-size: 1.3rem;
    color: rgb(78, 78, 78);
    margin-top: 0px;
    margin-bottom: 5px;
}
.card-description{
    font-weight: 800;
    font-size: 0.8rem;
    color: gray;
    margin-bottom: 5px;
    
}
.card img{
    width: 100%;
}
a{
    text-decoration: none;
}
.anchor{
    text-align: end;
    
}

/* Features section styles */
/* feature part styles */
.feature{
    max-width: 1110px;
    margin: 0 auto;
}
.features-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 96px;
    margin: 100px auto;
}
.feature-image{
    width: 100%;
}
.feature-title{
    font-weight: bold;
    font-size: 2.4rem;
    max-width: 610px;
    margin: 0px;
}
.feature-description{
    font-weight: 700;
    font-size: 1rem;
    max-width: 500px;
}
.join-now{
    background-color: rgba(224, 44, 109, 1);
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 56px 10px 24px;
    color: white;
    border-radius: 5px;
    border: none;
}

/* Footer section styles */

/* footer part styles*/
.footer{
    background-color: rgb(0, 0, 46);
    max-width: 1370px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.footer-content{
    max-width: 262px;
    text-align: center;
    color: white;
    margin: 50px auto;
}
.footer-title{
    max-width: 600px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 0px;
}

.copy-right{
    max-width: 262px;
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 10px;
}

/* Responsive media query for Mobile devices  */
/* .hide{
    display: none;
} */
@media screen and (max-width:576px) {

    nav,
    nav > ul
    {
        flex-direction: column;
        justify-items: center;
    }

    .banner{
        flex-direction: column-reverse;
    }
    .banner-content{
        text-align: center;
        margin-left: 50px;
        
    }
    .banner-description{
        text-align: center;
        margin-left: 50px;
    }

    .img{

        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        
    }

    .popular-container{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        
    }

    .features-banner{
        flex-direction: column-reverse;
        text-align: center;  
    }
    .feature-description{
        text-align: center;
        padding: 20px;
    }
    .feature-image{
        width: 100%;
        justify-content: center;

    }
}
